Pane {
    -fx-background-color: #212121;
    -fx-text-fill: white;
}

Button {
    -fx-background-color: #565656;
    -fx-border-width: 0;
    -fx-background-radius: 5;
    -fx-border-color: #1b1b1b;
}

Button:hover {
    -fx-background-color: #494949;
}

Button:pressed {
    -fx-background-color: #212121;
}

Button, Label, Text, TextField {
    -fx-fill: white;
    -fx-text-fill: white;
    -fx-stroke-width: 0;
    -fx-stroke: white;
}

TextField {
    -fx-border-width: 0 0 2 0 ;
    -fx-border-color: white;

    -fx-background-color: transparent;
    -fx-text-fill: grey;
    -fx-fill:rgba(0,0,0,0) ;
}
Separator {

}